@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    font-family: 'Raleway';
}


@font-face {
    src: url('/fonts/Roboto-Regular.woff');
    font-family: 'Roboto-Regular';
}

@font-face {
    src: url('/fonts/Raleway-Regular.woff2'), url('/fonts/Raleway-Regular.woff');
    font-family: 'Raleway-Regular';
}


@font-face {
    src: url('/fonts/OleoScript-Regular.woff2');
    font-family: 'OleoScript-Regular';
}